<main>
    <div id="chat">
        <div class="title"><h1>Chill n Chat</h1></div>
        <div id="history"></div>
    </div>
    <div>
        <input id="chatBox" placeholder="Write your message here.">
    </div>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>